/****** reset ******/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body, .full-screen {
  height: 100%;
}

.full-screen {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* .full-screen > * {
  flex: 0 0 auto;
  
} */

/* .full-screen > .main {
  flex: 1 0 auto;
  
  display: flex;
} */

/****** navigation ******/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  /* background-color:green */
}

.bsdd-logo {
  height: 70px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./icons/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  flex: 1 1 auto;

}

/****** submit area ******/

.submit-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  justify-content: space-evenly;
  gap: 15px;
  width: 300px;
  height: 500px;
  /* position: sticky; */
  /* flex: 1 1 auto; */
  /* flex-basis: auto; */
}

#myDropzone {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  height: 300px;
  width:80%;

}


#config {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
  /* min-height: 500; */
  width:80%;
  /* width:200px; */
  background-color: rgb(181, 201, 255);
  border-radius: 5px;
  /* font-size: 14%; */
  font-family: Calibri;
}


#submit {
  padding: 10px 20px;
  border-radius: 5px;
  width: 40%;
}

a:visited {
  color: inherit;
  text-decoration: none;
}