__pycache__/
*.py[cod]
*.ifc
*.json
*.cover
docker-volumes
application/static/bimsurfer
application/nix
application/win
application/ifc-pipeline.db
application/ifc-python-parser
application/ifc-parser
application/bimsurfer_temp/


application/static/test.jpg
application/checks/ifcopenshell/
application/checks/logs/
application/checks/examples/

application/checks/dresult_bsdd.json
application/checks/result_bsdd.json
application/checks/parse_results.py