<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>

    <!-- Store data from the server to JS variables -->
    <script>
        var savedModels = {{saved_models|tojson}};
        var userId = "{{user_id}}";

        var toColumnUncomplete = {
                        "syntax":0,
                        "schema":1,
                        "mvd":2,
                        "bsdd":3,
                        "ids":4,
                        "file_format":5,
                        "file_name":6,
                        "report":7,
                        "progress":8,
                        "advancement":9,
                        "stop":10,
                        "geoms":11,
                        "props":12,
                        "license":13,
                        "hours":14,
                        "details":15
        }
        var toColumnComplete = {
                        "syntax":0,
                        "schema":1,
                        "mvd":2,
                        "bsdd":3,
                        "ids":4,
                        "file_format":5,
                        "file_name":6,
                        "report":7,
                        "date":8,
                        "download":9,
                        "delete":10,
                        "geoms":11,
                        "props":12,
                        "license":13,
                        "hours":14,
                        "details":15
        }

        
    </script>

    <script>
            function goToIndex(){
                var st = window.location.href;

                var baseUrl = st.split('/')[2];
                var url = "/";
                console.log(url)
                window.location = url;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">

<body>

    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo"
                src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo" style="margin-right:10px; display: flex;flex-direction: row; align-items: center;
            justify-content: center; align-content: space-between; gap: 12px;">

                <button onclick= "goToIndex();" style="height: 40px;width: 150px;">VALIDATION >></button>
                <button style="height: 50px;width: 50px;border-radius: 50%;background-image: url(/static/icons/bs.JPG);background-repeat: no-repeat;border: none;background-size:cover;"></button>
                <!-- <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" /> -->
        </div>
    
    </div>


    <script>
              function sendInfo2(box, boxtype, index){    
                var element = event.srcElement;


                var data; 
                var i = parseInt(index);


                if(boxtype == "licenses"){
                    data = {type:"licenses", license: element.value, n:i,from:"saved"};
                }
                if (boxtype == "hours"){
                    data = {type:"hours", hours: element.value, n:i,from:"saved"};
                }
                if(boxtype =="details"){
                    data = {type:"details", details: element.value, n:i,from:"saved"};
                }

                
                fetch("/update_info_saved/"+ i.toString() + "/{{user_id}}", {
                    method: "POST", 
                    body: JSON.stringify(data)
                }).then(function (r) { return r.json(); }).then(function (r) {
                    console.log(r);
                })
            


            }
    </script>

   

    <div id="main">

        <table id="saved_models">
            <tr>
                <th>Syntax</th>
                <th>Schema</th>
                <th>MVD</th>
                <th>bSDD</th>
                <th>IDS</th>
                <th>File format</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th># geometries</th>
                <th># properties</th>
                
                <th>License</th>
                <th style = "text-align: center;">Production hours</th>
                <th>Additional details</th>
 
            </tr>

            <script>

                var table = document.getElementById("saved_models");
                var nCols = Object.keys(toColumnComplete).length;
                var unsavedConcat=""; 
                var modelIds = [];
                var codeToId = {};
              

                for(var i=0;i<savedModels.length;i++){

                    var rowIndex = i + 1;
                    var row = table.insertRow(rowIndex);
                    row.id = savedModels[i].id;

                    for(var col=0;col<nCols;col++){
                            row.insertCell(col);
                    }
                    var ifcLogo = document.createElement("IMG");
                    ifcLogo.src = "/static/icons/ifc.png";
                    row.cells[toColumnComplete["file_format"]].appendChild(ifcLogo);

                    row.cells[toColumnComplete["file_format"]].appendChild(ifcLogo);
                    row.cells[toColumnComplete["file_name"]].innerHTML = savedModels[i].filename; 
                    
                    if(savedModels[i].progress == 100){
                        
                       
                        row.cells[toColumnComplete["report"]].innerHTML = "View report";
                        row.cells[toColumnComplete["date"]].innerHTML = savedModels[i].date;
                        row.cells[toColumnComplete["download"]].innerHTML = "Download";
                        row.cells[toColumnComplete["delete"]].innerHTML = "Delete";

                        row.cells[toColumnComplete["geoms"]].innerHTML = savedModels[i].number_of_geometries;
                        row.cells[toColumnComplete["props"]].innerHTML = savedModels[i].number_of_properties;

                        var licenseSelect = document.createElement("SELECT");
                        row.cells[toColumnComplete["license"]].appendChild(licenseSelect);

                        var licensTypes = ["private","CC", "MIT", "GPL", "LGPL"];
                        for (const license of licensTypes) { 
                            var option = document.createElement("option");
                            option.text = license;
                            licenseSelect.add(option);
                        }
                        
                        var hoursInput = document.createElement("INPUT");
                        var detailsInput = document.createElement("INPUT");
                        row.cells[toColumnComplete["hours"]].appendChild(hoursInput);
                        row.cells[toColumnComplete["details"]].appendChild(detailsInput);

                    }

                    else{
                        console.log("unsaved");
                        unsavedConcat += savedModels[i].code;
                        modelIds.push(savedModels[i].id);


                        row.cells[toColumnUncomplete["stop"]].innerHTML = "Stop";

                        
                        const newDiv = document.createElement("div");
                        newDiv.className = "progress"
                        const barDiv = document.createElement("div");
                        barDiv.id = "bar"+ savedModels[i].id;
                        barDiv.className = "bar";
                        newDiv.appendChild(barDiv)
                        row.cells[toColumnUncomplete["progress"]].appendChild(newDiv);

                        row.cells[toColumnUncomplete["advancement"]].innerHTML = savedModels[i].progress;
                        row.cells[toColumnUncomplete["advancement"]].id = "percentage" + savedModels[i].id ;
                        codeToId[savedModels[i].code] = savedModels[i].id;

                    }

                }
                


                function final(progress){
                    console.log("final prog", progress);
                    //Visually complete one last time every bar and progress
                    //TODO clean 
                    for(var j=0;j<progress.length;j++){
                        var str2 = unsavedConcat;
                        var modelCode2 = str2.match(/.{1,32}/g)
                        var id2 = codeToId[modelCode2[j]]
                        var percentage2 = document.getElementById("percentage" + id2)
                        var bar2 = document.getElementById("bar" + id2);
                        percentage2.innerHTML = "100" + "%";
                        bar2.style.width = 100 * 2 + 'px';
                        
                    }
                
                }


        
                function poll(unsavedConcat){

                
                    fetch("/valprog/"+unsavedConcat).then(function (r) { return r.json(); }).then(function (r) {
                        for(var i=0;i<r.progress.length;i++){
                            var str = unsavedConcat;
                            var modelCode = str.match(/.{1,32}/g)
                            var id = codeToId[modelCode[i]]
                            var percentage = document.getElementById("percentage" + id)
                            var bar = document.getElementById("bar" + id)

                            if(r.progress[i] < 100 ){
                                percentage.innerHTML = r.progress[i] + "%";

                            }

                            else{
                                
                                percentage.innerHTML = "100" + "%";
                                bar.style.width = 100 * 2 + 'px';
                                var table = document.getElementById("saved_models");
                                // table.rows[id].cells[0].innerHTML = "test";

                                if(r.progress.reduce((a, b) => a + b, 0) == r.progress.length*100){
                                    return final(r.progress);
                                }
                            }

                            bar.style.width = r.progress[i] * 2 + 'px';

                        }


                        setTimeout(poll(unsavedConcat), 1000);

                        });

                }


                if(unsavedConcat){
                    console.log("/valprog/"+unsavedConcat);
                    poll(unsavedConcat);

                }
               
            </script>



        </table>
    </div>

  

</body>

</html>