<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>

    <!-- Store data from the server to JS variables -->
    <script>
        var savedModels = {{saved_models|tojson}};
        var userId = "{{user_id}}";

        var toColumnUncomplete = {
                        "syntax":0,
                        "schema":1,
                        "mvd":2,
                        "bsdd":3,
                        "ids":4,
                        "file_format":5,
                        "file_name":6,
                        "report":7,
                        "progress":8,
                        "advancement":9,
                        "stop":10,
                        "geoms":11,
                        "props":12,
                        "license":13,
                        "hours":14,
                        "details":15
        }
        var toColumnComplete = {
                        "syntax":0,
                        "schema":1,
                        "mvd":2,
                        "bsdd":3,
                        "ids":4,
                        "file_format":5,
                        "file_name":6,
                        "report":7,
                        "date":8,
                        "download":9,
                        "delete":10,
                        "geoms":11,
                        "props":12,
                        "license":13,
                        "hours":14,
                        "details":15
        }

        
    </script>

    <script>
            function goToIndex(){
                var st = window.location.href;

                var baseUrl = st.split('/')[2];
                var url = "/";
                console.log(url)
                window.location = url;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">

<body>

    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo"
                src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo" style="margin-right:10px; display: flex;flex-direction: row; align-items: center;
            justify-content: center; align-content: space-between; gap: 12px;">

                <button onclick= "goToIndex();" style="height: 40px;width: 150px;">VALIDATION >></button>
                <button style="height: 50px;width: 50px;border-radius: 50%;background-image: url(/static/icons/bs.JPG);background-repeat: no-repeat;border: none;background-size:cover;"></button>
                <!-- <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" /> -->
        </div>
    
    </div>


    <script>
              function sendInfo2(box, boxtype, index){    
                var element = event.srcElement;


                var data; 
                var i = parseInt(index);


                if(boxtype == "licenses"){
                    data = {type:"licenses", license: element.value, n:i,from:"saved"};
                }
                if (boxtype == "hours"){
                    data = {type:"hours", hours: element.value, n:i,from:"saved"};
                }
                if(boxtype =="details"){
                    data = {type:"details", details: element.value, n:i,from:"saved"};
                }

                
                fetch("/update_info_saved/"+ i.toString() + "/{{user_id}}", {
                    method: "POST", 
                    body: JSON.stringify(data)
                }).then(function (r) { return r.json(); }).then(function (r) {
                    console.log(r);
                })
            


            }
    </script>

   

    <div id="main">

        <table id="saved_models">
            <tr>
                <th>Syntax</th>
                <th>Schema</th>
                <th>MVD</th>
                <th>bSDD</th>
                <th>IDS</th>
                <th>File format</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th># geometries</th>
                <th># properties</th>
                
                <th>License</th>
                <th style = "text-align: center;">Production hours</th>
                <th>Additional details</th>
 
            </tr>

            <script>

                var table = document.getElementById("saved_models");
                var nCols = Object.keys(toColumnComplete).length;
                var unsavedConcat=""; 

                for(var i=0;i<savedModels.length;i++){

                    var rowIndex = i + 1;
                    var row = table.insertRow(rowIndex);
                    row.id = savedModels[i].id;

                    for(var col=0;col<nCols;col++){
                            row.insertCell(col);
                    }
                    var ifcLogo = document.createElement("IMG");
                    ifcLogo.src = "/static/icons/ifc.png";
                    row.cells[toColumnComplete["file_format"]].appendChild(ifcLogo);

                    row.cells[toColumnComplete["file_format"]].appendChild(ifcLogo);
                    row.cells[toColumnComplete["file_name"]].innerHTML = savedModels[i].filename; 
                    
                    if(savedModels[i].progress == 100){
                        
                       
                        row.cells[toColumnComplete["report"]].innerHTML = "View report";
                        row.cells[toColumnComplete["date"]].innerHTML = savedModels[i].date;
                        row.cells[toColumnComplete["download"]].innerHTML = "Download";
                        row.cells[toColumnComplete["delete"]].innerHTML = "Delete";

                        row.cells[toColumnComplete["geoms"]].innerHTML = savedModels[i].number_of_geometries;
                        row.cells[toColumnComplete["props"]].innerHTML = savedModels[i].number_of_properties;

                        var licenseSelect = document.createElement("SELECT");
                        row.cells[toColumnComplete["license"]].appendChild(licenseSelect);

                        var licensTypes = ["private","CC", "MIT", "GPL", "LGPL"];
                        for (const license of licensTypes) { 
                            var option = document.createElement("option");
                            option.text = license;
                            licenseSelect.add(option);
                        }
                        
                        var hoursInput = document.createElement("INPUT");
                        var detailsInput = document.createElement("INPUT");
                        row.cells[toColumnComplete["hours"]].appendChild(hoursInput);
                        row.cells[toColumnComplete["details"]].appendChild(detailsInput);

                    }

                    else{
                        console.log("unsaved");
                        unsavedConcat += savedModels[i].code;
                        row.cells[toColumnUncomplete["stop"]].innerHTML = "Stop";



                    }

                }

               
                function poll(unsavedConcat){
                    fetch("/valprog/"+unsavedConcat).then(function (r) { return r.json(); }).then(function (r) {
                        setTimeout(poll, 1000);

                        });

                }
                
                if(unsavedConcat){
                    console.log("/valprog/"+unsavedConcat);
                    poll(unsavedConcat);

                }
               
            </script>



            {% for model in saved_models %}

                {% set icons = {'v':'valid', 'w':'warning', 'i':'invalid', 'n':'not'} %} 
                {% if model.progress < 100 %}
                    {% set percentageid = "percentage" + loop.index0|string %}
                    {% set barid = "bar" + loop.index0|string %}
                    {% set fn = model.filename %}
                    
                   

                    <tr style="background-color:#ffffe6">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><img src="/static/icons/ifc.png" /></td>

                        <td id ="filename" style="color:royalblue;font-weight: bold;">{{fn}}</td>
                        <td></td>
                        <td>

                            <div class='progress'>
                                <div id={{barid}} class='bar'></div>
                            </div>

                        </td>
                        <td>
                            <div id={{percentageid}} class='percentage' style="color:rgb(105, 125, 239);"></div>
                        </td>
                        <td style="color:rgb(224, 101, 101); font-weight: bold;">Stop</td>

                        <td>{{model.geometries}}</td>
                        <td>Test</td>

                        <td>
                        {% if model.license != None%}
                            <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                                <option value="private" >private</option>
                                <option value="CC">CC</option>
                                <option value="MIT">MIT</option>
                                <option value="GPL">GPL</option>
                            </select>
                        
                        
                    
                        {% else %}

                        <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                            {% if model.license == "private" %}
                                <option value="private" selected >private</option>
                            {% else %}
                                <option value="private" >private</option>
                            {% endif %}

                            {% if model.license == "CC" %}
                                <option value="CC" selected >CC</option>
                            {% else %}
                                <option value="CC">CC</option>
                            {% endif %}

                            {% if model.license == "MIT" %}
                                <option value="MIT" selected >MIT</option>
                            {% else %}
                                <option value="MIT" >MIT</option>
                            {% endif %}

                            {% if model.license == "GPL" %}
                                <option value="GPL" selected >GPL</option>
                            {% else %}
                                <option value="GPL" >GPL</option>
                            {% endif %}
                        </select>

                        
                        {% endif %} 

                        </td>
                        <td style ="text-align:center;">
                            {% if model.hours!= None %}
                                <input type="text" id="hours" value={{model.hours}} style="width:20%;" onchange="sendInfo()">
                            
                            {% else %}
                                <input type="text" id="hours" style="width:20%;" onchange="sendInfo()">
                            {% endif %} 
                        </td>
                        <td>
                            {% if model.details != None %}
                            <input type="text" id="details" value={{model.details}} onchange="sendInfo()">
                            {% else %}
                                <input type="text" id="details" onchange="sendInfo()">
                            {% endif %} 
                            
                        </td>
                    </tr>

                {% else %}

                    <tr>
                        <td>
                            <img src="/static/icons/{{icons[model.status_syntax]}}.png">
                        </td>
                        <td>
                            <img src="/static/icons/{{icons[model.status_schema]}}.png">
                        </td>
                        <td>
                            <img src="/static/icons/{{icons[model.status_mvd]}}.png">
                        </td>
                        <td>
                            <img src="/static/icons/{{icons[model.status_bsdd]}}.png">
                        </td>
                        <td>
                            <img src="/static/icons/{{icons[model.status_ids]}}.png">
                        </td>
                        

                        <td><img src="/static/icons/ifc.png" /></td>

                        <td style="color:royalblue;font-weight: bold;">{{model.filename}}</td>
                        
                        <td>
                            <a id="report" style="color: rgb(0, 112, 192); font-weight: bold;text-decoration: none;">View report</a>
                        </td>
                        <td>{{model.date}}</td>
                        <td style="color:rgb(105, 125, 239); font-weight: bold;">Download</td>
                        <td style="color:rgb(224, 101, 101); font-weight: bold;">Delete</td>
                        <td>{{model.number_of_geometries}}</td>
                        <td>{{model.number_of_properties}}</td>

                        
                        <td>
                            <select name="licenses" id="licenses" onchange="sendInfo2(this,'licenses','{{loop.index0}}')">
                                {% if model.license == "private" %}
                                    <option value="private" selected >private</option>
                                {% else %}
                                    <option value="private" >private</option>
                                {% endif %}

                                {% if model.license == "CC" %}
                                    <option value="CC" selected >CC</option>
                                {% else %}
                                    <option value="CC">CC</option>
                                {% endif %}

                                {% if model.license == "MIT" %}
                                    <option value="MIT" selected >MIT</option>
                                {% else %}
                                    <option value="MIT" >MIT</option>
                                {% endif %}

                                {% if model.license == "GPL" %}
                                    <option value="GPL" selected >GPL</option>
                                {% else %}
                                    <option value="GPL" >GPL</option>
                                {% endif %}
                            </select>
            
                        </td>


                    


                        <td style ="text-align:center;">
                            {% if model.hours != None %}
                                <input type="text" id="details" style="width: 20%; " value= "{{model.hours}}"  onchange="sendInfo2(this,'hours', '{{loop.index0}}')">
                            {% else %}
                                <input type="text" id="details" style="width: 20%; text-align: center;" value="" onchange="sendInfo2(this,'hours', '{{loop.index0}}')">
                            {% endif %}
                        </td>


                        
                        <td>
                            {% if model.details != None %}
                                <input type="text" id="details" value= "{{model.details}}" onchange="sendInfo2(this,'details', '{{loop.index0}}')">
                            {% else %}
                                <input type="text" id="details" value="" onchange="sendInfo2(this,'details', '{{loop.index0}}')">
                            {% endif %}
                        </td>


                    </tr>

                {% endif %}


            {% endfor %}

        </table>
    </div>

  

</body>

</html>