{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">
{% endblock %}
{% block link %}
    <a href="/"><i class='material-icons'>file_upload</i><span id='username'>Upload models</span><span>&nbsp;</span></a>
    <a href="/dashboard"><i class='material-icons'>account_circle</i><span id='username'>{{ username }}</span><span>logout</span></a>
{% endblock %}


{% block content %}
    <script>
        var savedModels = {{ saved_models| tojson}};
 
        var columnsUncomplete = [
            "file_format",
            "file_name",
            "syntax",
            "schema",
            "mvd",
            "bsdd",
            //"ids",
            "report",
            "progress",
            "advancement",
            "stop",
            "geoms",
            "props",
            "license",
            "hours",
            "details",
        ];
        var columnsComplete = [
            "file_format",
            "file_name",
            "syntax",
            "schema",
            "mvd",
            "bsdd",
            //"ids",
            "report",
            "date",
            "download",
            "delete",
            "geoms",
            "props",
            "license",
            "hours",
            "details",
        ];
        var toColumnUncomplete = {};
        var toColumnComplete = {};
        columnsUncomplete.forEach((v, i) => { toColumnUncomplete[v] = i; });
        columnsComplete.forEach((v, i) => { toColumnComplete[v] = i; });


    </script>

    <div id="main">

        <table id="saved_models">
            <tr>
                <th>File format</th>
                <th></th>
                
                <th>Syntax</th>
                <th>Schema</th>
                <th>MVD</th>
                <th>bSDD</th>
                <!--<th>IDS</th>-->

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th># geometries</th>
                <th># properties</th>

                <th>License</th>
                <th style="text-align: center;">Production hours</th>
                <th>Additional details</th>

            </tr>


            <script type="text/javascript" src="{{ url_for('static', filename='process.js') }}"></script>

        </table>
    </div>
    
{% endblock %}
