<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script>
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            FileList.prototype.map = function (fn) { var r = []; for (var i = 0; i < this.length; ++i) { r.push(fn(this[i])); } return r; }
        }


        var files = {{ filenames |tojson}}
    </script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">

    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; min-height: 20vh;') }}

    <style>
        .dropzone .dz-preview .dz-image {
            width: 100%;
            background: #eee !important;
            border: solid 1px #ddd;
        }


        .dropzone .dz-preview .dz-details .dz-size {
            margin-bottom: 2em;
        }

        .dz-message {
            font-family: Calibri;
        }

        .dropzone .dz-preview .dz-progress {
            width: 80%;
            margin-left: -40%;

        }

        .dropzone * {
            border-radius: 0 !important;
        }


        .dropzone {
            border: 2px dashed #bbb;
            border-radius: 20px;
            background: #fafafa;
            width: 100%;
        }

        .dropzone .dz-preview .dz-details .dz-filename span,
        .dropzone .dz-preview .dz-details .dz-size span {
            background: none;
        }
    </style>

<body>

    <div class="full-screen">
        <div class="header">

            <a href="/" style="padding-left: 5px;" id="logo">
                <img class="bsdd-logo"
                    src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
            </a>
            <div id="logo">
                <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" />
            </div>
        </div>

        <div class="main">

            <div class="tabs"">

                <button class=" w3-bar-item w3-button tab" id="ifc_button">IDS validation</button>


            </div>

            <div class="submit-area" id="ifc_tab">

                
                {{ dropzone.create(url_for('put_main2', test=id)) }}

                {{ dropzone.load_js() }}


                <div id="config">
                    <div>
                        <input type="checkbox" id="syntax_outside" name="syntax">
                        <label for="Syntax">Syntax</label>
                    </div>

                    <div>
                        <input type="checkbox" id="schema_outside" name="schema">
                        <label for="Schema">Schema</label>
                    </div>

                    <div>
                        <input type="checkbox" id="mvd_outside" name="mvd" disabled="disabled">
                        <label for="MVD">MVD</label>
                    </div>

                    <div>
                        <input type="checkbox" id="bsdd_outside" name="bsdd" checked>
                        <label for="bSDD">bSDD</label>
                    </div>


                  
                    {% for f in filenames%}
                    <div>
                        <input type="checkbox" id="ids_outside" name="ids" checked>
                        <label style="font-weight: bold;" for="ids">{{f}}</label>
                    </div>
                    {%endfor%}



                </div>

                <button class="submit-button" id="submit">Start validation</button>


            </div>




        </div>

    </div>

    <script>

        Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files or click here to upload";

        Dropzone.options.myDropzone = {

            autoProcessQueue: false,
            acceptedFiles: ".ifc",
            parallelUploads: 1000,
            uploadMultiple: true,
            addRemoveLinks: false,
            timeout: 0,
            maxFilesize: 8 * 1024,

            init: function () {

                var submitButton = document.querySelector("#submit");
                myDropzone = this;

                var validationTypes = ['syntax', 'schema', 'mvd', 'bsdd', 'ids'];

                for (var i = 0; i < validationTypes.length; i++) {

                    var checkbox = document.createElement('input');
                    checkbox.type = "checkbox";
                    checkbox.name = validationTypes[i];
                    checkbox.value = 0;
                    checkbox.checked = 1;

                    checkbox.id = validationTypes[i];
                    checkbox.style.visibility = "hidden";
                    myDropzone.element.appendChild(checkbox);

                }

    
                submitButton.addEventListener("click", function () {

                    myDropzone = Dropzone.instances[0];
                    

                    for (var i = 0; i < validationTypes.length; i++) {
                        var checkboxToUpdate = document.getElementById(validationTypes[i]);
                        var checkboxOutside = document.getElementById(validationTypes[i] + "_outside");


                        if (checkboxOutside.checked == 1) {
                            checkboxToUpdate.value = 1;
                        }

                    }

                    myDropzone.processQueue();
                    
                });


                myDropzone.on("success", function (file, response) {
                    window.location = response.url;
                    
                });
            }

        };

    </script>


</body>

</html>