<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script>
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            FileList.prototype.map = function (fn) { var r = []; for (var i = 0; i < this.length; ++i) { r.push(fn(this[i])); } return r; }
        }
    </script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">

    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; min-height: 20vh;') }}

    <style>
        .dropzone .dz-preview .dz-image {
            width: 100%;
            background: #eee !important;
            border: solid 1px #ddd;
        }


        .dropzone .dz-preview .dz-details .dz-size {
            margin-bottom: 2em;
        }

        .dz-message {
            font-family: Calibri;
        }

        .dropzone .dz-preview .dz-progress {
            width: 80%;
            margin-left: -40%;

        }

        .dropzone * {
            border-radius: 0 !important;
        }


        .dropzone {
            border: 2px dashed #bbb;
            border-radius: 20px;
            background: #fafafa;
            width: 100%;
        }

        .dropzone .dz-preview .dz-details .dz-filename span,
        .dropzone .dz-preview .dz-details .dz-size span {
            background: none;
        }
    </style>

<body>

    <div class="full-screen">
        <div class="header">

            <a href="/" style="padding-left: 5px;" id="logo">
                <img class="bsdd-logo"
                    src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
            </a>
            <div id="logo">
                <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" />
            </div>
        </div>

        <div class="main">

            <div class="tabs"">

                <button class=" w3-bar-item w3-button tab" id="ifc_button" onclick="changeTab('ifc_tab')">IFC</button>
                <p style="font-size: 25px; color:grey;">|</p>
                <button class="w3-bar-item w3-button tab" id="ids_button" onclick="changeTab('ids_tab')">IDS</button>

            </div>

            <div class="submit-area" id="ifc_tab">


                {{ dropzone.create('put_main') }}

                {{ dropzone.load_js() }}


                <script> const virgindz = document.getElementById("myDropzone");</script>
                <div id="config">
                    <div>
                        <input type="checkbox" id="syntax_outside" name="syntax">
                        <label for="Syntax">Syntax</label>
                    </div>

                    <div>
                        <input type="checkbox" id="schema_outside" name="schema">
                        <label for="Schema">Schema</label>
                    </div>

                    <div>
                        <input type="checkbox" id="mvd_outside" name="mvd" disabled="disabled">
                        <label for="MVD">MVD</label>
                    </div>

                    <div>
                        <input type="checkbox" id="bsdd_outside" name="bsdd" checked>
                        <label for="bSDD">bSDD</label>
                    </div>

                </div>

                <button class="submit-button" id="submit">Start validation</button>


            </div>


            <div class="submit-area" id="ids_tab" style="display:none">


                {{ dropzone.create('put_main') }}
                <button class="submit-button" id="submit2">Upload IDS</button>


            </div>




            <script>

                function changeTab(tabType) {

                    if (tabType == "ifc_tab") {
                        document.getElementById("ifc_button").style.color = 'rgb(0, 157, 176)';
                        document.getElementById("ids_button").style.color = 'black';

                    }

                    else {
                        document.getElementById("ids_button").style.color = 'rgb(0, 157, 176)';
                        document.getElementById("ifc_button").style.color = 'black';

                    }

                    var i;
                    var x = document.getElementsByClassName("submit-area");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }

                    document.getElementById(tabType).style.display = "flex";
                    document.getElementById(tabType).style.flexDirection = "column";


                }

            </script>

        </div>

    </div>

    <script>

        Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files or click here to upload";

        Dropzone.options.myDropzone = {

            autoProcessQueue: false,
            acceptedFiles: ".ifc",
            parallelUploads: 1000,
            uploadMultiple: true,
            addRemoveLinks: false,
            timeout: 0,
            maxFilesize: 8 * 1024,

            init: function () {

                var submitButton = document.querySelector("#submit");
                var submitButton2 = document.querySelector("#submit2");

                myDropzone = this;

                var validationTypes = ['syntax', 'schema', 'mvd', 'bsdd'];

                for (var i = 0; i < validationTypes.length; i++) {
                    var checkbox = document.createElement('input');
                    checkbox.type = "checkbox";
                    checkbox.name = validationTypes[i];
                    checkbox.value = 0;
                    checkbox.checked = 1;

                    checkbox.id = validationTypes[i];
                    checkbox.style.visibility = "hidden";
                    myDropzone.element.appendChild(checkbox);

                }

                submitButton2.addEventListener("click", function () {

                    myDropzone = Dropzone.instances[1];

                    for (var i = 0; i < validationTypes.length; i++) {
                        var checkboxToUpdate = document.getElementById(validationTypes[i]);
                        var checkboxOutside = document.getElementById(validationTypes[i] + "_outside");


                        if (checkboxOutside.checked == 1) {
                            checkboxToUpdate.value = 1;
                        }

                    }

                    myDropzone.processQueue();

                });

                submitButton.addEventListener("click", function () {

                    myDropzone = Dropzone.instances[0];

                    for (var i = 0; i < validationTypes.length; i++) {
                        var checkboxToUpdate = document.getElementById(validationTypes[i]);
                        var checkboxOutside = document.getElementById(validationTypes[i] + "_outside");


                        if (checkboxOutside.checked == 1) {
                            checkboxToUpdate.value = 1;
                        }

                    }

                    myDropzone.processQueue();

                });

                this.on("success", function (file, response) {

                    var submitAreas = document.getElementsByClassName("submit-area");

                    if (submitAreas[0].id == 'ids_tab') {
                        var ids_tab = submitAreas[0]
                        var ifc_tab = submitAreas[1]
                    }
                    else {
                        var ids_tab = submitAreas[1]
                        var ifc_tab = submitAreas[0]

                    }

                    var selectedMode;

                    if (ids_tab.style.display == 'none') {
                        selectedMode = 'ifc'

                    }
                    else if (ifc_tab.style.display == 'none') {
                        selectedMode = 'ids'
                    }

                    if (selectedMode == 'ifc') {
                        window.location = response.url;
                    }

                    else if (selectedMode == 'ids') {
                        ids_tab.style.backgroundColor = 'light-blue';
                        ids_tab.innerHTML = '';
                        var newDiv = document.createElement("div");
                        ids_tab.appendChild(newDiv);

                        var url = "/idschecking";
                        var repText = document.createElement("a");
                        repText.innerHTML = "go to link";
                        repText.href = url;
                        newDiv.appendChild(repText);

                    }

                });
            }

        };

    </script>


</body>

</html>