<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>

<script>
    var info = {{info|tojson}}; 
    var fn = "{{fn}}";
    var bsdd_result = {{bsdd_result|tojson}}
    

    function xPlay(clicked){
        var parentName = clicked.dataset.parent;

        if(parentName == undefined){
            var childrenName = clicked.dataset.current;
        }

        else{ 
            var childrenName = parentName + "/" + clicked.dataset.current;
        }
       
     
        if(clicked.dataset.state == "on"){
            // on to off
            var q = '[data-parent*='+'"'+childrenName+'"'+']';
            var children = document.querySelectorAll(q);

            clicked.dataset.state = "off";

            // Change arrow symbol
            var elements = clicked.cells[0].innerText.split(' ')
            elements[clicked.dataset.level] = '\u25B6';
            clicked.cells[0].innerText = elements.join(" ")

            for (var i = 0; i < children.length; i++) {
                if(children[i].dataset.state == "on"){
                    children[i].dataset.state = "off";

                    var el = children[i].cells[0].innerText.split(' ')
                    el[children[i].dataset.level] = '\u25B6';
                    children[i].cells[0].innerText = el.join(" ")

                }
                children[i].style.display = "none";
	        }
        }
        else{
            // off to on
            clicked.dataset.state = "on";

            
            var q = '[data-parent='+'"'+childrenName+'"'+']';
            var children = document.querySelectorAll(q);
            // Change arrow symbol
            var elements = clicked.cells[0].innerText.split(' ')

            elements[clicked.dataset.level] = '\u25BC';
            clicked.cells[0].innerText = elements.join(" ")

            for (var i = 0; i < children.length; i++) {
                children[i].style.display = "table-row";
                
                            
	        }
        }

    }




</script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report_consistency.css') }}">

<body>

 
    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo" src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-items.png')}}" />
        </div>
    </div>


    <div id="main">

        <h1>Validation Report</h1>


        <table>
            <tr>
               <td style="font-style: italic; font-size: 30px;">General information about the file checked</td>
               <td></td>
            </tr>

            <tr>
                <td>Date</td>
                <td>{{ config["time"] }}</td>
            </tr>
            <tr>
                <td>File name</td>
               <td>{{fn}}</td>
            </tr>

            <tr>
                <td>File size</td>
                <td>{{info["size"]}}</td>
            </tr>


            <tr>
                <td>IFC schema</td>
                <td>{{info["schema"]}}</td>
            </tr>
            <tr>
                <td>Authoring application</td>
                <td>{{info["app"]}}</td>
            </tr>
            <tr>
                <td>MVD(s)</td>
                <td>{{info["mvd"]}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td style="font-style: italic; font-size: 30px;">Overall results of the validation</td>
            </tr>

            <tr>
                <td>Syntax</td>

                {% if config["results"]["syntaxlog"] == 'v'%}
                    <td style="color:green;">&check;</td>
                {% endif %}

                {% if config["results"]["syntaxlog"] == 'n'%}
                    <td>Not validated</td>
                {% endif %}

                {% if config["results"]["syntaxlog"] == 'i'%}
                    <td style="color:red">&cross;</td>
                {% endif %}


                
            </tr>

            <tr>
                <td>Schema</td>
                {% if config["results"]["schemalog"] == 'v'%}
                    <td style="color:green;">&check;</td>
                {% endif %}

                {% if config["results"]["schemalog"] == 'n'%}
                    <td>Not validated</td>
                {% endif %}

                {% if config["results"]["schemalog"] == 'i'%}
                    <td style="color:red">&cross;</td>
                {% endif %}

            </tr>

            <tr>
                <td>MVD</td>
                {% if config["results"]["mvdlog"] == 'v'%}
                    <td style="color:green;">&check;</td>
                {% endif %}

                {% if config["results"]["mvdlog"] == 'n'%}
                    <td>Not validated</td>
                {% endif %}

                {% if config["results"]["mvdlog"] == 'i'%}
                    <td style="color:red">&cross;</td>
                {% endif %}

            </tr>

            <tr>
                <td>bSDD</td>
                {% if config["results"]["bsddlog"] == 'v'%}
                    <td style="color:green;">&check;</td>
                {% endif %}

                {% if config["results"]["bsddlog"] == 'n'%}
                    <td>Not validated</td>
                {% endif %}

                {% if config["results"]["bsddlog"] == 'i'%}
                    <td style="color:red">&cross;</td>
                {% endif %}

            </tr>

            <tr>
                <td>IDS</td>
                {% if config["results"]["idslog"] == 'v'%}
                    <td style="color:green;">&check;</td>
                {% endif %}

                {% if config["results"]["idslog"] == 'n'%}
                    <td>Not validated</td>
                {% endif %}

                {% if config["results"]["idslog"] == 'i'%}
                    <td style="color:red">&cross;</td>
                {% endif %}

            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td style="font-style: italic; font-size: 30px;">Metrics</tr>
            </tr>

            <tr>
                <td>Schema</td>
                <td>Conform</td>

            </tr>

            <tr>
                <td>MVD % compliance</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>bSDD % compliance</td>
                <td>34%</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <!-- &#9660; -->
                
                <td style="font-style: italic; font-size: 30px;">Detailed results</td>
            </tr>

           


            {% if not "status" in bsdd_result.keys() %}
                <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)" >
                    <td style="font-size: 27px;"> &emsp; &#x25BC; bSDD consistency</td>
                    <td></td>
                </tr>




                {%for domain, obj in bsdd_result.items()%}

                    <tr data-current="{{domain}}" data-parent="bsdd" data-state="on" data-level=2 onclick="xPlay(this)">
                        <td class ="domain" style="font-size: 25px;">&emsp; &emsp;  &#x25BC; Domain: {{domain}}</td>
                        
                    </tr>

                    {% if obj is mapping %}

                        {% for classification, classification_obj in obj.items() %}
                            <tr data-state="off" data-current="{{classification}}" data-parent="bsdd/{{domain}}" data-level=3 onclick="xPlay(this)">
                                <td class ="classification" style="font-size: 22px;">
                                    &emsp; &emsp; &emsp; &#9654; Classification: {{classification}}
                                </td>
                                <td class ="classification" style="font-size: 22px;">
                                    <!-- 20% failing -->
                                </td>
                            </tr>

                            <tr style="display: none;" data-parent="bsdd/{{domain}}/{{classification}}" data-level=4>
                                <td style="font-weight: 600;"> &emsp; &emsp; &emsp; &emsp;Requirements</td>
                                <td></td>
                            </tr>
                            
                            <tr>

                                {% if 'requirements' in classification_obj.keys() %}
                                    {% for t in classification_obj['types']%}
                                        <tr style="display: none;" data-parent="bsdd/{{domain}}/{{classification}}" data-level=4>
                                            <td class="ifctype" >
                                                &emsp; &emsp; &emsp; &emsp;{{t}}
                                            </td>
                                        </tr>

                                    {%endfor%}



                                    {% for r in classification_obj['requirements']%}
                                        <tr style="display: none;" data-parent="bsdd/{{domain}}/{{classification}}" data-level=4>
                                            <td>
                                                &emsp; &emsp; &emsp; &emsp;{{r['propertySet']}} - {{r['name']}} - {{r['dataType']}} - {{r['predefinedValue']}}
                                            </td>
                                        </tr>

                                    {%endfor%}


                                

                                    <!-- <tr> 
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr> -->

                                    {% for entity, entity_responses in classification_obj['values'].items() %}
                                        <tr style="display: none;" data-state ="off" data-current = {{entity}} data-parent="bsdd/{{domain}}/{{classification}}" data-level=4 onclick="xPlay(this)">
                                            <td> 
                                                &emsp; &emsp; &emsp; &emsp; &#9654; {{entity}}
                                            </td>

                                            <td> 
                                                {% set number = entity_responses[0]["failing"]*100 %}
                                                {{number|round|int}} % failing
                                            </td>
                                            
                                            
                                        </tr>
                                        <!-- &#x25BC;
                                        &#9654; -->

                                        {% for resp in entity_responses%}
                                            <tr style="display:none;" data-parent="bsdd/{{domain}}/{{classification}}/{{entity}}" data-level=5>
                                                <td>
                                                    &emsp; &emsp; &emsp; &emsp; &emsp;{{resp['logging']['pset']}}-{{resp['logging']['pname']}}-{{resp['logging']['pvalue']}}
                                                </td>

                                                {% if resp["failing"] > 0 %}
                                                    <td style="color: red;"data-parent= "bsdd/{{domain}}/{{classification}}/{{entity}}">&cross;</td>
                                                {%endif%}
                                                {% if resp["failing"] == 0 %}
                                                    <td style="color: green; "data-parent="bsdd/{{domain}}/{{classification}}/{{entity}}">&check;</td>
                                                {% endif %}

                                            </tr>

                                        
                                        {%endfor%}

                                        <!-- <tr style="display:none;" data-parent="{{domain}}/{{classification}}/{{entity}}"data-level=5> 
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr> -->

                                    {%endfor%}
                            
                                
                                {%else%}
                                <tr style="display: none;" data-parent="bsdd/{{domain}}/{{classification}}" data-level=4>
                                    <td >
                                        &emsp; &emsp; &emsp; &emsp; No requirement for this classification
                                    </td>
                                </tr>
                                

                                {%endif%}

                            </tr> 

                

                        {% endfor %}

                    

                    {% else %}

                    <tr data-state="off" data-current="{{classification}}" data-parent="bsdd/{{domain}}" data-level=3 onclick="xPlay(this)">
                        <td class ="classification" style="font-size: 22px;">
                            &emsp; &emsp; &emsp; &#9654;{{obj}}
                        </td>
                        <td class ="classification" style="font-size: 22px;">
                            <!-- 20% failing -->
                        </td>
                    </tr>


                    
                    {%endif%}

                {% endfor %}


            
            {%else%}

                <tr data-current="bsdd" data-state="on" data-level=1>
                    <td style="font-size: 27px;"> &emsp; &#x25BC; bSDD consistency</td>
                </tr>

                <tr >
                    <td> &emsp; &emsp; Not validated : {{bsdd_result["status"]}}</td>
                </tr>

            
            {%endif%}





            {% if ids_result is not mapping %}

            <tr data-current="ids" data-state="on" data-level=1 onclick="xPlay(this)" >
                <td style="font-size: 27px;"> &emsp; &#x25BC; IDS</td>
                <td></td>
            </tr>

                {% for line in ids_result %}

                    <tr>
                        <td> {{line}}</td>
                    </tr>

                {% endfor %}
            {% endif%}







            
     
        </table>




    </div>








        
</body>





</html>