<!DOCTYPE html>
<html lang="en">

<head>
    <title>IfcOpenShell viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }
    </script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class='container'>
        <h1 class='logo'>IfcOpenShell viewer</h1>
        Conversion in progress...
        <div class='progress'>
            <div id = "percentage1" class='percentage'></div>
            <div id = "bar1" class='bar'></div>
        </div>

        <div class='progress'>
            <div id = "percentage2" class='percentage'></div>
            <div id = "bar2" class='bar'></div>
        </div>
    </div>



    <script>


var number_ids = {{n_files}}
console.log("number ids", number_ids);

var bar = document.getElementById("bar1")
var percentage = document.getElementById("percentage1")

var bar2 = document.getElementById("bar2")
var percentage2 = document.getElementById("percentage2")



        function poll() {
            fetch("/pp/{{ id }}").then(function(r) { return r.json(); }).then(function(r) {

                // console.log("RESULT",r)
                
                if (r.progress[0] === 100) {
                    //window.location = "/v/{{ id }}";
                    bar.style.width = 100 * 5 + 'px';
                    percentage.innerHTML = "100%"
                } else {
                    var p = r.progress[0];
                    if (p < 0) {
                        percentage.innerHTML = "<i>in queue</i>";
                        p = 0
                    } else {
                        percentage.innerHTML = p + "%";
                    }
                    bar.style.width = p * 5 + 'px';
                    setTimeout(poll, 1000);
                }
            
                if (r.progress[1] === 100) {
                    //window.location = "/v/{{ id }}";
                    bar2.style.width = 100 * 5 + 'px';
                    percentage2.innerHTML = "100%"
                } else {
                    var p = r.progress[1];
                    if (p < 0) {
                        percentage2.innerHTML = "<i>in queue</i>";
                        p = 0
                    } else {
                        percentage2.innerHTML = p + "%";
                    }
                    bar2.style.width = p * 5 + 'px';
                    setTimeout(poll, 1000);
                }





            });
        }

        poll();
        
        // var bar = document.querySelector(".bar")
        // console.log("BAR ", bar)
        // var percentage = document.querySelector(".percentage")
        // // var str = "{{id}}";
        // // console.log("STR", str);
        // // var idd = str.split("|")[0]

        // //var new_url = str.split("|")[0] + str.split("|")[1]
        

        // var u = "/pp/" + "{{id}}"
        // // console.log("NEW", new_url)

        // // "/pp/{{ id }}"

        // function poll() {
            
        //     fetch(u).then(function(r) { return r.json(); }).then(function(r) {
        //         console.log("RR", r)
        //         if (r.progress === 100) {
        //             // window.location = viewerUrl;
        //             console.log('1 complete')
        //         } else {
        //             var p = r.progress;
        //             if (p < 0) {
        //                 percentage.innerHTML = "<i>in queue</i>";
        //                 p = 0
        //             } else {
        //                 percentage.innerHTML = p + "%";
        //             }
        //             bar.style.width = p * 5 + 'px';
        //             setTimeout(poll, 1000);
        //         }
        //     });


        // }

        // poll();
    </script>

</body>

</html>