<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='validation.css') }}">
</head>






<body>
    


    <div class="header">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img class="bsdd-logo" src="{{url_for('static', filename='navbar/buildingSMART_RGB_bSDD_service.png')}}" />
        </a>
        <div id="logo" style="margin-right:10px; display: flex;flex-direction: row; align-items: center;
            justify-content: center; align-content: space-between; gap: 12px;">

            <button onclick="goToIndex();" style="height: 40px;width: 150px;"> BACK TO DASHBOARD</button>
            <button
                style="height: 50px;width: 50px;border-radius: 50%;background-image: url(/static/icons/bs.JPG);background-repeat: no-repeat;border: none;background-size:cover;"></button>
            <!-- <img src="{{url_for('static', filename='navbar/BuildingSmart-login.png')}}" /> -->
        </div>

    </div>








</body>

<script>
     var bsdd_validation_task = {{ bsdd_validation_task| tojson}};
     var bsdd_results = {{ bsdd_results| tojson}};
     var instances = {{ instances| tojson}};



</script>

<script type="text/javascript" src="{{ url_for('static', filename='report.js') }}"></script>


</html>