
{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report_consistency.css') }}">
{% endblock %}
{% block link %}
    <a href="/dashboard"><i class='material-icons'>account_circle</i><span id='username'>{{ username }}</span><span>go to dashboard</span></a>
{% endblock %}
{% block content %}



    <script>
        var results = {{results | tojson}} 
        
    </script>

    <script>
        function goToDashboard() {
            window.location = "/dashboard";
        }
    </script>



    {% set header_bg = "rgb(230, 242, 255)" %}
    <div id="main">

        <h1>Validation Report</h1>


        <table>
            <tr>
                <td colspan="2"
                    style="font-style: italic; font-size: 30px;text-align:center; background-color:{{header_bg}};">
                    General information about the file checked</td>
                <!-- <td >&nbsp;</td>
                   <td></td> -->
            </tr>

            <tr>
                <td>Date</td>
                <td>{{model.date}}</td>
            </tr>

            <tr>
                <td>File name</td>
                <td>{{model.filename}}</td>
            </tr>

            <tr>
                <td>License</td>
                <td>{{model.license}}</td>
            </tr>

            <tr>
                <td>File size</td>
                <td>{{model.size}}</td>
            </tr>

            <tr>
                <td>Number of geometries</td>
                <td>{{model.number_of_geometries}}</td>
            </tr>

            <tr>
                <td>Number of properties</td>
                <td>{{model.number_of_properties}}</td>
            </tr>

            <tr>
                <td>IFC schema</td>
                <td>{{model.schema}}</td>
            </tr>
            <tr>
                <td>Authoring application</td>
                <td>{{model.authoring_application }}</td>
            </tr>
            <tr>
                <td>MVD(s)</td>
                <td>{{model.mvd}}</td>
            </tr>



        </table>

        <table>

            <tr>
                <td colspan="2"
                    style="font-style: italic; font-size: 30px;text-align:center;background-color:{{header_bg}};">
                    Overall results of the validation</td>
            </tr>


            {% set validation_symbols =
            {
            'v': ['<p>&check;</p>', 'green'],
            'i': ['<p>&cross;</p>','red'],
            'n':['<p>&#9744;</p>', 'black'],
            'w':['<p>&#9888;</p>','yellow']
            }
            %}

            {% set check_types=
            [
            "syntax",
            "schema",
            "mvd",
            "bsdd",
            "ids",
            ]
            %}

            {%for check_type in check_types%}
            <tr>
                <td>{{check_type}}</td>
                <td style="color:{{ validation_symbols[model['status_'+check_type]][1]}}">
                    {{ validation_symbols[model['status_'+check_type]][0]|safe}}
                </td>
            </tr>

            {% endfor %}



        </table>

        <table>

            <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
                <td colspan="7"
                    style="font-style: italic; font-size: 30px;text-align:center;background-color:{{header_bg}};">Syntax checking</td>

            </tr>

            <tr>
                {% if results["syntax_result"] %}
                    <td colspan="7">{{results["syntax_result"]["msg"]}}</td>
                {% else %}
                    <td colspan="7">Not checked</td>
                {% endif %}
            </tr>



            <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
                <td colspan="7"
                    style="font-style: italic; font-size: 30px;text-align:center;background-color:{{header_bg}};">IFC schema checking</td>

            </tr>


            {% if results["schema_result"] %}

                {% for msg in results["schema_result"]["msg"]%}
                <tr>
                    <td colspan="7">{{msg}}</td>
                </tr>
                        
                {% endfor %}
              
            {% else %}
                <tr>
                    <td colspan="7">Not checked</td>
                </tr>
        
            {% endif %}


            <tr data-current="bsdd" data-state="on" data-level=1 onclick="xPlay(this)">
                <td colspan="7"
                    style="font-style: italic; font-size: 30px;text-align:center;background-color:{{header_bg}};">bSDD consistency</td>

            </tr>

            
            <tr style="font-style: bold;text-align:center;">
                <td>Domain</td>
                <td>Classification</td>
                <td>Code</td>
                <td>Instance</td>
                <td>Requirement</td>
                <td>Required</td>
                <td>Observed</td>
            </tr>


          
            {%if results["bsdd_results"]["task"]%}
                {%for bsdd_result in results["bsdd_results"]["bsdd"]%}
                    {% if  bsdd_result['bsdd_classification_uri'] != 'classification not found' %}
                        {% set constraints = bsdd_result['bsdd_property_constraint']%}
                        

                        <!-- IFC entity type -->
                        <tr style="font-style: bold;text-align:center;">
                            <td>{{bsdd_result['classification_domain']}}</td>
                            <td>{{bsdd_result['classification_name']}}</td>
                            <td>{{bsdd_result['classification_code']}}</td>
                            <td> {{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['global_id']}}</td>
                            <td>IFC entity type</td>
                            <td>{{bsdd_result['bsdd_type_constraint']}}</td>
                            <td>{{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['ifc_type']}}</td>
                        </tr>

                        <!-- Property set -->
                        <tr style="font-style: bold;text-align:center;">
                            <td>{{bsdd_result['classification_domain']}}</td>
                            <td>{{bsdd_result['classification_name']}}</td>
                            <td>{{bsdd_result['classification_code']}}</td>
                            <td> {{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['global_id']}}</td>
                            <td>propertySet</td>
                            <td>{{bsdd_result['bsdd_property_constraint']['name']}}</td>
                            <td>{{bsdd_result['ifc_property_set']}}</td>
                        </tr>

                        <!-- Property name -->
                        <tr style="font-style: bold;text-align:center;">
                            <td>{{bsdd_result['classification_domain']}}</td>
                            <td>{{bsdd_result['classification_name']}}</td>
                            <td>{{bsdd_result['classification_code']}}</td>
                            <td> {{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['global_id']}}</td>
                            <td>property Name</td>
                            <td>{{bsdd_result['bsdd_property_constraint']['name']}}</td>
                            <td>{{bsdd_result['ifc_property_name']}}</td>
                        </tr>

                        
                        <!-- Property value type -->
                        <tr style="font-style: bold;text-align:center;">
                            <td>{{bsdd_result['classification_domain']}}</td>
                            <td>{{bsdd_result['classification_name']}}</td>
                            <td>{{bsdd_result['classification_code']}}</td>
                            <td> {{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['global_id']}}</td>
                            <td>property value type</td>
                            <td>{{bsdd_result['bsdd_property_constraint']['dataType']}}</td>
                            <td>{{bsdd_result['ifc_property_type']}}</td>
                        </tr>

                        <!-- Property value -->
                        <tr style="font-style: bold;text-align:center;">
                            <td>{{bsdd_result['classification_domain']}}</td>
                            <td>{{bsdd_result['classification_name']}}</td>
                            <td>{{bsdd_result['classification_code']}}</td>
                            <td> {{results["bsdd_results"]["instances"][bsdd_result["instance_id"]]['global_id']}}</td>
                            <td>property value type</td>
                            <td>{{bsdd_result['bsdd_property_constraint']['predefinedValue']}}</td>
                            <td>{{bsdd_result['ifc_property_value']}}</td>
                        </tr>

                    {% endif %}

                
                {% endfor %}
        {% endif %}
    
    </div>


{% endblock %}