<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }

        var scores = {{f|tojson}}
        console.log("the_scores", scores);

        var result_log = {{result_logs|tojson}}
        console.log(result_log)



        

    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report_consistency.css') }}">

<body>

 
    <div id="navbar">

        <a href="/" style="padding-left: 5px;" id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-logo.png')}}" />
        </a>

        <div id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-items.png')}}" />
        </div>

    </div>


    <div id="main">

        <div id="title">

            <div id="big">Report</div>
            <div>-</div>
            <div id="fn">Schependomlaan.ifc</div>
            
        </div>

        <div id="syntax" class="result">

            <div class="box-title">
                <h2>Syntax</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">STEP</h2>
            </div>
           
            <div id="checking-box">
               
            <p>Status:</p>
            <p id="syntax-status"></p> 
            </div>
           

        </div>

        <div id="schema" class="result">
            <div class="box-title">
                <h2>Schema</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">IFC2X3</h2>
            </div>
            <div id="checking-box">
               
            <p> Status:</p>
            <p id="schema-status"></p> 
            </div>
           

        </div>
        <div id="mvd" class="result">
            <div class="box-title">
                <h2>MVD</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">ReferenceView</h2>
            </div>
            <div id="checking-box">
               
            <p> Status:</p>
            <p id="mvd-status"></p> 
            </div>
           

        </div>
    
     

        <div id="bsdd" class="result">
            <div class="box-title">
                <h2>bSDD</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">NL/SfB</h2>
            </div>
            <div id="checking-box">
               
            <!-- <p>Status:</p>
            <p id="bsdd-status"></p> 
            </div> -->
           
            <table>
                {% for k,v in f.items() %}

                    <tr> 
                    <td id="classification"> {{k}}</td>  
                    
                    {% for guid, props in v.items() %}

                        <tr><td id="guid">{{guid}}</td></tr>


                        

                        {% if props[1] == "NO MATCH WITH" %}

                            {% for p in props[0]%}
                                
                                <tr><td>&cross; {{p[1]}} ({{p[2]}}) = missing </td></tr>

                            {% endfor %}
                      
                        
                        {%else%}
                            {% for p in props %}
                               

                              

                                {% if p|length == 3 %}
                                    {%if p[2] == "PASSED"%}
                                        <tr><td>&check; {{p[1][0]}}.{{p[1][1]}} ({{p[1][2]}}) = {{p[1][3]}} </td></tr>

                                    
                                    {%elif p[2] == "NOT PASSED"%}
                                        <tr><td>&cross; {{p[1][0]}}.{{p[1][1]}} ({{p[1][2]}}) = {{p[1][3]}} </td></tr>

                                    {% endif%}
                                
                            


                            {% endif%}
                        
                         
                        
                        {% endfor %}

                        {% endif %}
                        <tr><td>&nbsp;</td></tr>

                    {% endfor %}

                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    </tr>

                
                {% endfor %}
            

            </table>

            


        </div>



    </div>
        
</body>

<script>


var toValidate = ['syntax', 'schema', 'mvd', 'bsdd']

for(var i=0;i<toValidate.length;i++){
    var prefix = toValidate[i];

    var syntax = result_log[prefix + 'log']

    var statusbox = document.getElementById(prefix + "-status");
    if(syntax == 'i'){
        console.log(statusbox)
        statusbox.innerHTML = "Failed";
        statusbox.style.color = "red";
        statusbox.style.fontWeight = "bold";

        var bsddbox = document.getElementById(prefix)
        bsddbox.style.backgroundColor = 'rgb(255, 184, 184)';
        
    } else{
        statusbox.innerHTML = "Passed"
        statusbox.style.color = "green";
        statusbox.style.fontWeight = "bold";
        
        var bsddbox = document.getElementById(prefix)
        bsddbox.style.backgroundColor = 'rgb(211, 237, 198)';


    }

}
    

</script>

</html>