<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }

        var scores = {{f|tojson}}
        console.log(scores);

    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report.css') }}">

<body>

 
    <div id="navbar">

        <div style="padding-left: 5px;" id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-logo.png')}}" />
        </div>

        <div id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-items.png')}}" />
        </div>

    </div>


    <div id="main">

        <div id="title">Report</div>

        <div id="syntax" class="result">

            <h2 class="box-title">Syntax</h2>
            <h3 class="box-status"> Status: Failed</h3>
           

        </div>

        <div id="schema" class="result">
            <h2 class="box-title">Schema</h2>
            <h3 class="box-specific">IFC4</h3>
            <h3 class="box-status">Status</h3>
        </div>


        <div id="mvd" class="result">
            <h2 class="box-title">MVD</h2>
            <h3 class="box-specific">ReferenceView.mvdXML</h3>
            <h3 class="box-status"> Status</h3>

        </div>

        <div id="bsdd" class="result">
            <h2 class="box-title">bSDD</h2>
            <h3 class="box-specific">IFC 4-3</h3>
            <h3 class="box-status"> Status</h3>

            <table>
                <th>Classification</th>
                <th>Passed</th>
                {% for key, value in f.items() %}
                <tr>

                    {% set sum = value['i'] + value['t'] + value['v'] %}
                    {% if sum > 0 %}
                        {% set passed = 100*value['v']/sum %}
                        {% set passed = passed|round|int %}
                        <td>{{key}}</td>
                        <td>{{passed}}%</td>
                        
                    {% endif %}
                {% endfor %}
        
    

                </tr>

               
            </table>

         

            


        </div>



    </div>
        
</body>

</html>