<!DOCTYPE html>
<html lang="en">

<head>
    <title>buildingSMART IFC Validation Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type="text/javascript">
        var isIE = !!window.MSInputMethodContext;
        if (isIE) {
            document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>');
            document.write('<script type="text/javascript" src="/static/lib/fetch.umd.js"><\/script>');
        }

        var scores = {{f|tojson}}
        console.log(scores);

        var result_log = {{result_logs|tojson}}
        console.log(result_log)



        

    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report.css') }}">

<body>

 
    <div id="navbar">

        <div style="padding-left: 5px;" id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-logo.png')}}" />
        </div>

        <div id="logo">
            <img src="{{url_for('static', filename='navbar/BuildingSmart-items.png')}}" />
        </div>

    </div>


    <div id="main">

        <div id="title">Report</div>

        <div id="syntax" class="result">

            <div class="box-title">
                <h2>Syntax</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">STEP</h2>
            </div>
           
            <div id="checking-box">
               
            <p>Status:</p>
            <p id="syntax-status"></p> 
            </div>
           

        </div>

        <div id="schema" class="result">
            <div class="box-title">
                <h2>Schema</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">IFC4</h2>
            </div>
            <div id="checking-box">
               
            <p> Status:</p>
            <p id="schema-status"></p> 
            </div>
           

        </div>
        <div id="mvd" class="result">
            <div class="box-title">
                <h2>MVD</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">ReferenceView</h2>
            </div>
            <div id="checking-box">
               
            <p> Status:</p>
            <p id="mvd-status"></p> 
            </div>
           

        </div>
    
     

        <div id="bsdd" class="result">
            <div class="box-title">
                <h2>bSDD</h2>
                <h2> - </h2>
                <h2 style="font-style: italic;">IFC4</h2>
            </div>
            <div id="checking-box">
               
            <p>Status:</p>
            <p id="bsdd-status"></p> 
            </div>
           
            <table>
                <th>Classification</th>
                <th>Passed</th>
                {% for key, value in f.items() %}
                <tr>

                    {% set sum = value['i'] + value['t'] + value['v'] %}
                    {% if sum > 0 %}
                        {% set passed = 100*value['v']/sum %}
                        {% set passed = passed|round|int %}
                        <td id="ifctype">{{key}}</td>
                        <td>{{passed}}%</td>
                        
                    {% endif %}
                {% endfor %}
        
    

                </tr>

               
            </table>

         

            


        </div>



    </div>
        
</body>

<script>


var toValidate = ['syntax', 'schema', 'mvd', 'bsdd']

for(var i=0;i<toValidate.length;i++){
    var prefix = toValidate[i];

    var syntax = result_log[prefix + 'log']

    var statusbox = document.getElementById(prefix + "-status");
    if(syntax == 'i'){
        console.log(statusbox)
        statusbox.innerHTML = "Failed";
        statusbox.style.color = "red";
        statusbox.style.fontWeight = "bold";

        var bsddbox = document.getElementById(prefix)
        bsddbox.style.backgroundColor = 'rgb(255, 184, 184)';
        
    } else{
        statusbox.innerHTML = "Passed"
        statusbox.style.color = "green";
        statusbox.style.fontWeight = "bold";
        
        var bsddbox = document.getElementById(prefix)
        bsddbox.style.backgroundColor = 'rgb(211, 237, 198)';


    }

}
    

</script>

</html>